<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisement List</title>
    <link type="text/css" rel="shortcut icon" href="/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/validationEngine.jquery.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css" />
    <script type="text/javascript" src="/javascripts/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validationEngine-en.js"></script>
</head>
<body>
<%- body %>
</body>
</html>